<!DOCTYPE html>

<!--
Project name(项目名称)：vue_notepad
  File name(文件名): test1
  Authors(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/4/14
  Time(创建时间)： 19:57
  Description(描述)： 无
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body onload="loads()">

<!-- 主体区域 -->
<section id="app">
    <!-- 输入框 -->
    <header class="header" @load="loadData">
        <h1>记事本</h1>
        <input @keyup.enter="add" v-model="inputValue" autofocus="autofocus" autocomplete="off"
               placeholder="请输入任务，输入enter键保存"
               class="new-todo"/>
    </header>
    <!-- 列表区域 -->
    <section class="main">
        <ul class="todo-list">
            <li class="todo" v-for="(item,index) in list">
                <div class="view">
                    <span class="index">{{ index+1 }}.</span>
                    <label>{{ item }}</label>
                    <button @click="clearOne(index)" class="destroy"></button>
                </div>
            </li>
        </ul>
    </section>
    <!-- 统计和清空 -->
    <footer class="footer">
      <span v-show="list.length!=0" class="todo-count">
        <strong>{{list.length}}</strong> 条数据
      </span>
        <button v-show="list.length!=0" @click="clearAll" class="clear-completed">
            清除全部
        </button>
    </footer>
</section>


<script>

    var app = new Vue({
        el: "#app",
        data: {
            inputValue: "",
            list: ["测试1", "测试2", "测试3"],
        },
        methods: {
            //添加数据
            add: function ()
            {
                //console.log("添加");
                //console.log(this.inputValue);
                if (this.inputValue === "")
                {
                    alert("请输入数据！");
                    return;
                }
                this.list.push(this.inputValue);
                //保存数据
                this.save();
            }
            ,
            //清除全部
            clearAll: function ()
            {
                //console.log("清除全部");
                this.list = [];
                //保存数据
                this.save();
            }
            ,
            //清除一个数据
            clearOne: function (index)
            {
                //console.log("清除" + index);
                this.list.splice(index, 1);
                //保存数据
                this.save();
            }
            ,

            //保存数据
            save: function ()
            {
                var json = JSON.stringify(this.list);
                //console.log(json)
                var json_list = localStorage.getItem("notepad");
                //console.log(json_list)
                if (json_list != null)
                {
                    localStorage.removeItem("notepad");
                }
                localStorage.setItem("notepad", json);
            }
            ,
            //加载数据
            loadData: function ()
            {
                //console.log("加载数据")
                var json_list = localStorage.getItem("notepad");
                if (json_list == null)
                {
                    return;
                }
                var obj = JSON.parse(json_list);
                this.list = obj;
            }
        }
    })

    //console.log(app.$data.list)

    function loads()
    {

    }

    app.loadData()

</script>


</body>
</html>